body {
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 400px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;  
}

.card_left {
    width: 150px;
    border-radius: 15px;
    background: rgb(207,139,148);
    background: radial-gradient(circle, rgba(207,139,148,1) 49%, rgba(217,178,182,1) 91%);
    overflow: hidden;
}

.card_right {
    width: 150px;
    border-radius: 15px;
    background: rgb(204,43,94);
    background: radial-gradient(circle, rgba(204,43,94,1) 51%, rgba(193,147,208,1) 97%);
    overflow: hidden;
}

.icon {
    text-align: center;
    padding-top: 20px;
}

.number,.info {
    text-align: center;
}

.n1 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: -15px;
}

.i2 {
    margin-bottom: -20px;
}

.n2 {
    font-weight: bolder;
    margin-bottom: -5px;
}
