body {
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width: 600px;
    min-height: 350px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 30px 45px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;  
}

.card {
    padding: 30px;
}

.icon {
    padding: 10px;
}

.left {
    background-color: #E5792F;
    max-width: 200px;
}

.middle {
    background-color: #098684;
    max-width: 200px;
}

.right {
    background-color: #005E66;
    max-width: 200px;
}

button {
    margin-top: 40px;
    background-color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.left > button {
    color: #E5792F;
    border: 1px solid #E5792F;
}

.middle > button {
    color: #098684;
    border: 1px solid #098684;
}

.right > button {
    color: #005E66;
    border: 1px solid #005E66;
}
