body {
    background: rgb(223,153,13);
    background: radial-gradient(circle, rgba(223,153,13,1) 0%, rgba(63,51,115,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width: 450px;
    border-radius: 25px;
    background: rgb(223,153,13);
    background: linear-gradient(207deg, rgba(223,153,13,1) 12%, rgba(63,51,115,1) 60%);
    box-shadow: 0 30px 45px rgba(255, 255, 255, 0.1);
    overflow: hidden; 
}

img {
    display: block;
    margin: auto;
    margin-top: -25px;
    width: 85%;
  }

.info {
    color: rgb(228, 227, 229);
    margin-top: -25px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
