* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(
        300deg,
        #5e72eb,
        #ff9190,
        #fdc094
        90%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 450px;
    height: 230px;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    background: linear-gradient(
        150deg,
        #5e72eb,
        #ff9190,
        #fdc094
        90%
    );
    padding-left: 10px;
    box-shadow: 0 30px 45px rgba(26, 26, 26, 0.2);
}
