* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(
        300deg,
        #5e72eb,
        #ff9190,
        #fdc094
        90%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 450px;
    height: 230px;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    background: linear-gradient(
        150deg,
        #5e72eb,
        #ff9190,
        #fdc094
        90%
    );
    padding-left: 10px;
    box-shadow: 0 30px 45px rgba(26, 26, 26, 0.2);
}

h2, span {
    color: #f5f5f5;
}

.info {
    font-size: 1.1rem;
}

.radio_btn {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.email {
    width: 75%;
    height: 30px;
    border: 0;
    border-radius: 20px;
    font-size: 15px;
    padding-inline-start: 10px;
    color: #5e72eb;
    font: bolder;
    caret-color: #fdc094;
}

input[type="radio"] {
    appearance: none;
    border-radius: 30%;
    border: 2px solid #fdc094;
    transition: all  0.2s linear;
    background-color: #fff;
    margin: 0;
    margin-right: 5px;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    cursor: pointer;
  }
