body {
    background: #9990BC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 30px 45px rgba(26, 26, 26, 0.2);
    overflow: hidden;    
}



